<% if @error == true %>
  <p>Uh oh! Looks like you left something blank!</p>
<% end %>
<% if @score_error == true %>
  <p>Score must be a number!</p>
<% end %>

<h2>New Beer</h2>
<form action="/beers" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Style: <input type="text" name="style"></p>
  <p>Brewery: <input type="text" name="brewery"></p>
  <p>Score (0-100): <input type="integer" name="score"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
