<!doctype html>
<html>
  <head>
    <title>Person Beer Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <% if logged_in? %>
        <p>Welcome, <%=current_user.username %></p>
        <a href="/beers"> Your Beers</a>
        </br>
        <a href="/beers/new"> Add Beer </a>
        </br>
        <a href="/logout"> Log Out </a>
        <form method="post" action="/logout">
          <input type="submit" value="Logout">
        </form>

      <% else %>
        <a href="/signup">Sign Up</a>
      </br>
        <a href="/login"> Sign In </a>
      <%end %>

    </nav>
    <div class="container">
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
